<caption>
  Users
</caption>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ban</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        {{ user.name }}
        <input #userId class="hidden" value="user.id" />
      </td>
      <td>
        <span *ngIf="user.isBanned == true; then thenBlock; else elseBlock">
        </span>
        <ng-template #thenBlock
          ><button
            class="btn btn-success"
            (click)="banOrUnbanUser(userId.value)"
          >
            UnBan
          </button></ng-template
        >
        <ng-template #elseBlock
          ><button
            class="btn btn-danger"
            (click)="banOrUnbanUser(userId.value)"
          >
            Ban
          </button></ng-template
        >
      </td>
    </tr>
  </tbody>
</table>
