<div *ngIf="this.error != null">{{ error }}</div>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <div class="form-group">
      <input placeholder="Vardas" formControlName="name" />
    </div>
    <div>Slaptazodis:</div>
    <input formControlName="password" type="password" />
    <div>Pakartototi slaptazodi:</div>
    <input formControlName="repeatPassword" type="password" /> <br />
    <div>El. paštas</div>
    <input formControlName="email" type="email" /> <br />
    <button>
      Registruotis
    </button>
  </form>
</div>
